.block {
   padding: 60px 0px;
   border-bottom: 1px solid rgba(171, 171, 171, 0.5);
}



.btns {
   display: flex;
   align-items: center;
   justify-content: flex-end;
   padding: 0px 10px;
}


.btnPrev {
   background: transparent;
   padding: 3px 6px;
   border: 1px solid var(--text-color);
   border-radius: 2px;
   margin-right: 5px;
}


.btnNext {
   background: transparent;
   padding: 3px 6px;
   border: 1px solid var(--text-color);
   border-radius: 2px;
}


.title {
   font-size: 28px;
   margin-bottom: 30px;
}


.reviews {
   margin-bottom: 20px;
}


.review {
   display: flex;
   align-items: flex-start;
   background-color: var(--decor-color-1);
   padding: 20px;
   font-size: 14px;
}


.review:not(:last-child) {
   margin-bottom: 20px;
}



.date {
   display: flex;
   align-items: flex-start;
   justify-content: flex-start;
   padding-top: 4px;
   padding-bottom: 20px;
   color: var(--title-color);
   
   min-width: 80px;
}






.data {
   padding-left: 20px;
   position: relative;
}

.data::before {
   content: "";
   position: absolute;
   left: 0;
   top: 4px;
   background-color: #D5D5D5;
   width: 1px;
   height: 100%;
}


.name {
   font-size: 20px;
   margin-bottom: 6px;
   color: var(--title-color);
}


.text {
   margin-bottom: 6px;
}



.raiting {
   color: var(--title-color);
}



@media (max-width: 380px) {
   .review {
      flex-direction: column;
   }

   .data {
      padding-left: 0px;
   }


   .data::before {
      display: none;
   }
}
