.title {
   padding: 50px 0px 0px;
   font-size: 28px;
   margin-bottom: 30px;
}





.products {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
   padding-bottom: 20px;
   overflow-x: auto;
}




@media (max-width: 860px) {
   .products {
      grid-template-columns: repeat(2, 1fr);
   }
}




@media (max-width: 780px) {
   .form {
      flex-wrap: wrap;
   }

   .btn {
      margin-top: 20px;
   }
}


@media (max-width: 650px) {
   .form {
      flex-direction: column;
      align-items: flex-start;
   }

   .formItem {
      padding-right: 0px;
      margin-bottom: 20px;
   }


   .label {
      margin-bottom: 10px;
   }
}




.pagination {
   font-size: 14px;
   display: flex;
   align-items: center;
   justify-content: flex-start;
   padding: 40px 0px;
}


.count {
   padding: 0px 10px;
}


.btnPrev {
   background: transparent;
   padding: 3px 6px;
   border: 1px solid var(--text-color);
   border-radius: 2px;
}


.btnNext {
   background: transparent;
   padding: 3px 6px;
   border: 1px solid var(--text-color);
   border-radius: 2px;
}




@media (max-width: 500px) {
   .products {
      grid-template-columns: 1fr;
   }
}