.block {
   position: fixed;
   width: 100%;
   height: 100%;
   background-color: rgba(255, 255, 255, 0.8);
   z-index: 20;
}


.window {
   min-height: 100%;
   display: flex;
   align-items: center;
   justify-content: center;
   padding: 30px;
}

.content {
   padding: 50px 50px 30px 50px;
   max-width: 400px;
   position: relative;

   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: center;

   background-color: var(--form-bg-color);
   border-radius: 5px;
   font-size: 14px;
   color: var(--title-color);
}



.close {
   position: absolute;
   right: 10px;
   top: 10px;
   padding: 10px;
   background: transparent;
}



.title {
   font-size: 18px;
   margin-bottom: 20px;
}

