.block {
   padding: 0px 0px 0px;
}



.title {
   margin-top: 20px;
   margin-bottom: 20px;
   text-align: center;
}

.text {
   margin-bottom: 74px;
   text-align: center;
}



.catalogBtn {
   padding: 80px 0px 40px;
   display: flex;
   justify-content: center;
}