.block {
   padding: 0px 0px 120px;
}



.title {
   margin-bottom: 20px;
   text-align: center;
}

.text {
   margin-bottom: 74px;
   text-align: center;
}


.items {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
   padding-bottom: 20px;
   overflow-x: auto;
}

