.title {
   margin-bottom: 40px;
   text-align: center;
}


.text {
   min-height: 60vh;
}


.item {
   margin-bottom: 20px;
}


.itemSpan{
   font-weight: 700;
   color: var(--btn-color);
}



.itemLink {
   color: var(--btn-color);
   font-weight: 700;
   text-decoration: underline;
}

