.block {
   background-color: var(--subscribe-bg-color);
   font-size: 14px;
   color: #fff;
}



.content {
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding: 22px 0px;
}


.documents {
   display: flex;
   align-items: center;
   justify-content: space-between;
}


.document {
   color: inherit;
}


.document:not(:last-child) {
   margin-right: 12px;
}





@media (max-width: 620px) {
   .content {
      flex-direction: column-reverse;
      align-items: flex-start;
   }

   .documents {
      flex-direction: column;
      align-items: flex-start;
      margin-bottom: 30px;
   }
}