body {
   font-family: 'Open Sans', sans-serif;
   font-size: 18px;
   font-weight: 300;
   line-height: 1.5;
   color: var(--text-color);
}




h1, h2 {
   font-size: 45px;
   line-height: 1.2;
   color: var(--title-color);
   font-weight: 400;
}





.wrapper {
   min-height: 100%;
   overflow: hidden;
   display: flex;
   flex-direction: column;

}

.container {
   max-width: 1140px;
   margin: 0 auto;
   padding: 0px 15px;
}





 @media (max-width: 860px) {
   h1, h2 {
      font-size: 38px;
   }
 }


  @media (max-width: 480px) {
   body {
      font-size: 14px;
   }


   h1, h2 {
      font-size: 32px;
   }
 }

