:root {
   --text-color: #959595;
   --decor-color-1: #EAEFF6;
   --menu-active-color: #597193;
   --title-color: #3D4550;
   --btn-color: #597193;
   --item-border-color: #596B86;
   --form-bg-color: #EAEFF6;
   --input-border-color: #ABABAB;
   --subscribe-bg-color: #B1BED0;
   --subscribe-btn-color: #889CB9;
   --review-active: #B1BED0;
}