.block {
   padding: 60px 0px 120px;
}


.title {
   text-align: center;
   margin-bottom: 20px;
}



.subtitle {
   margin-bottom: 64px;
   text-align: center;
}



.reviews {
   display: grid;
   grid-template-columns: repeat(3, 1fr);
   gap: 30px;
   padding: 20px 0px;
   overflow-x: auto;
}


.review {
   min-width: 250px;
   background-color: var(--decor-color-1);
   border-radius: 6px;
   padding: 30px;
}



.avatar {
   border-radius: 50%;
   max-width: 80px;
   max-height: 80px;
   margin-bottom: 24px;
}



.name {
   color: var(--title-color);
   font-size: 24px;
   line-height: 1.2;
   font-weight: 400;
   margin-bottom: 6px;
}


.prof {
   font-size: 12px;
   margin-bottom: 20px;
}


.text {
   font-size: 14px;
}



.reviewActive {
   min-width: 250px;
   background-color: var(--review-active);
   border-radius: 6px;
   padding: 30px;
   transform: translateY(-20px);
}

.reviewActive * {
   color: #fff;
}


