.review {
   min-width: 250px;
   background-color: var(--decor-color-1);
   border-radius: 6px;
   padding: 30px;
   min-height: 350px;
}



.avatar {
   border-radius: 50%;
   max-width: 50px;
   max-height: 50px;
   margin-bottom: 24px;
}



.name {
   color: var(--title-color);
   font-size: 24px;
   line-height: 1.2;
   font-weight: 400;
   margin-bottom: 6px;
}


.prof {
   font-size: 12px;
   margin-bottom: 20px;
}


.text {
   font-size: 14px;
}