.title {
   font-size: 18px;
   margin-bottom: 30px;
}



.formBlock {
   min-width: 180px;
}


.form {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   margin-bottom: 30px;
   width: 100%;
}


.item {
   position: relative;
   display: flex;
   flex-direction: column;
   width: 100%;
}



.input {
   background: transparent;
   border-bottom: 1px solid;
   border-color: var(--text-color);
   width: 100%;
   padding: 4px 4px 4px 0px;
   margin-bottom: 25px;
}


.btnSend {
   margin-top: 10px;
   padding: 10px 20px;
   background: transparent;
   color: inherit;
   border: 1px solid;
   border-color: var(--text-color);
   border-radius: 2px;
}


.btn {
   font-size: 14px;
   background: transparent;
   text-decoration: underline;
   color: var(--btn-color);
}



.error {
   position: absolute;
   bottom: 7px;
   left: 0px;
   color: red;
   font-size: 10px;
}


